section{
    overflow-x: hidden;
}

section .animate{
    transition: 1s;
}

.sec-1 .animate {
    transform: translateX(-100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0);
}


.sec-2 .animate {
    transform: translateX(100%);
}


.sec-2.show-animate .animate {
    transform: translateX(0);
}

.sec-3 .animate {
    transform: scale(.8);
}


.sec-3.show-animate .animate {
    transform: scale(1);
}

.sec-4 .animate {
    transform: translateX(100%);
}

.sec-4.show-animate .animate {
    transform: translateX(0);
}

.sec-6 .animate {
    transform: translateX(-100%);
}

.sec-6.show-animate .animate {
    transform: translateX(0);
}


.sec-5 .animate {
    transform: scale(.8);
}

.sec-5.show-animate .animate {
    transform: scale(1);
}